<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>371885176212-9q2snefs9bt1fpbck5i25pk1er7lhgc5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.371885176212-9q2snefs9bt1fpbck5i25pk1er7lhgc5</string>
	<key>API_KEY</key>
	<string>AIzaSyAOFlFQE7cR71ZyFbyaNZppjJw5dRIz6Rw</string>
	<key>GCM_SENDER_ID</key>
	<string>371885176212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.c2tech.moshh</string>
	<key>PROJECT_ID</key>
	<string>moshh-338102</string>
	<key>STORAGE_BUCKET</key>
	<string>moshh-338102.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:371885176212:ios:4e2b298073eebd37ca4b81</string>
</dict>
</plist>